services:
  # Servicio de Base de Datos (PostgreSQL)
  db:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Servicio del Backend (Spring Boot)
  backend:
    container_name: petmatch-backend
    build: ./petmatch-backend
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
      # - "5005:5005" # Puerto de depuración, descomentar solo para desarrollo
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      # Configuración de correo
      - SPRING_MAIL_HOST=${SPRING_MAIL_HOST}
      - SPRING_MAIL_PORT=${SPRING_MAIL_PORT}
      - SPRING_MAIL_USERNAME=${SPRING_MAIL_USERNAME}
      - SPRING_MAIL_PASSWORD=${SPRING_MAIL_PASSWORD}
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
      # URL del frontend para los correos
      - FRONTEND_URL=${FRONTEND_URL}
    restart: on-failure

  # Servicio del Frontend (React + Nginx)
  frontend:
    container_name: petmatch-frontend
    build:
      context: ./petmatch-frontend
      args:
        - REACT_APP_API_URL=${REACT_APP_API_URL}
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  db_data:
