.lost-pets-page-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.lost-pets-header {
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente */
  align-items: center; /* Centrar horizontalmente */
  text-align: center;
  margin-bottom: 3rem;
  padding: 2rem;
  background: var(--gradient-primary);
  color: var(--color-white);
  border-radius: 15px;
  position: relative;
}

.back-to-home-link {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.lost-pets-header h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.lost-pets-header p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* Estilo específico para el botón de reportar en esta página */
.lost-pets-header .button-primary {
  background: var(--color-accent); /* Usar el color de acento para contraste */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.lost-pets-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.load-more-container {
  text-align: center;
  margin-top: 2rem;
}
